.project-cards-div {
    display: flex;
    height: 400px;
    overflow: hidden; /* Ensures no content spills outside */
}

.project-cards-scroll {
    display: flex;
    overflow-x: auto; /* Enables horizontal scrolling */
    align-items: center;
    gap: 10px; /* Adds space between cards */
    scroll-behavior: smooth; /* Enables smooth scrolling */
    -ms-overflow-style: none; /* Hides scrollbar for Internet Explorer and Edge */
    scrollbar-width: none; /* Hides scrollbar for Firefox */
}

.project-cards-scroll::-webkit-scrollbar {
    display: none; /* Hides scrollbar for Chrome, Safari, and Opera */
}
