
.box{
  height: 130px;
  width: 420px;
  display: flex;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.box-content{
  display: flex;
  padding: 15px;
  align-items: center;
}


.card-image{
  height: 60px;
  width: 70px;
  filter: brightness(1.2) contrast(1.5); /* Adjust values for brightness and contrast */
  padding: 5px;
  margin: 15px;
}

.line-img{
  height: 90px;
  width: 7px;

}

.card-data{
 padding: 25px;
 display: flex;
 flex-direction: column;
 gap: 20px; /* Space between items */
}

.card-h3{
  font-size: 25px;
  font-weight: bold;
  margin: 0;
}

.card-p{
  text-align: justify;
  color: #8D8A8A;
font-size: 13px;
margin: 0;
}

