
/* Container for the Industry Page */
.industry-page {
    position: relative;
    background-color: #ECECEC;
    padding-bottom: 80px;
  }
  
  /* Heading Section */
  .heading {
    padding: 80px 50px;
  }
  
  .heading p {
    margin: auto;
  }
  
  .head-para {
    color: #C03F46;
    font-weight: 600;
    font-size: 17px;
  }
  
  .header {
    background: linear-gradient(to right, #0EE2F6, #5FA4FE); /* Define gradient colors */
    -webkit-background-clip: text; /* Clip the background to the text */
    -webkit-text-fill-color: transparent; /* Make the text fill transparent */
    background-clip: text; /* Standard background clip (for compatibility) */
    color: transparent; /* Set text color to transparent */
  }
  
  .company-para{
    text-align: justify;
  }
  .first-head {
    padding: 0;
  }
  
  .about-company-para {
    height: 80px;
    width: 600px;

    color: #787779;
    font-weight: 500;
    font-size: 17px;
  }
  

  

  
  
