.wrapper{
  height: 100%;
  padding-bottom: 1.5rem;
}

.text-heading{
  /* margin-left: 110px; */
  padding: 1rem 0;
  overflow-y: auto;
}

.text-heading h2{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2.2rem;
  text-transform: uppercase;
  font-weight: 400;
  color: #3d3d3d;
  line-height: 40px;
  margin-left: 1.2rem;
  
}

.text-heading h2 span{
  padding-left: 20px;
}

.text-heading h2 span img{
height: 36px;
}

.container {
  display: flex;
  width: 90vw;
  gap: 10px;
}

.panel {
  flex: 1;
  height: 400px;
  border-radius: 40px;
  position: relative;
  cursor: pointer;
  transition: flex 0.5s ease, filter 0.5s ease;
}

.panel.active {
  flex: 5;
  filter: brightness(0.8);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s ease;
  border-radius: 40px;
}

.active-overlay {
  opacity: 1;
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 1.5rem;
  z-index: 2;
  text-align: center;
}

.label {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  color: white;
  font-weight: bold;
  transition: all 0.5s ease;
  z-index: 3;
}

.label-number {
  background: white;
  color: black;
  font-size: 16px;
  font-weight: bold;
  border-radius: 50%;
  padding: 10px;
  margin-right: 10px;
}

.label-text {
  font-size: 21px;
}

.label-active {
  bottom: 20px;
  left: 20px;
  transform: translate(0, 0);
}


.line-container {
  padding: 20px 0px; 
  position: relative;

}

.line {
  height: 20px; 
  border-radius: 5px;
  background-color: #d9e5fc;
  margin-bottom: 1.3rem;
  ;
}

.line.short {
  width: 60%; 
}

.line.long {
  width: 60%;

}

.long{
  float: right;
}

@media (max-width: 480px) {
  .container {
    flex-direction: column;
  }

  .panel {
    height: 200px;
  }

  .overlay-text {
    font-size: 1rem;
  }
}
